@media (max-width: 600px) {
    .maelsGalerySec {
        width: 100%;
    }

    #toggleCartButton {
        display: block;
    }

    .chartWrapper {
        display: none;
    }


    .cartScrollContainer {
        max-height: 250px;
        width: 100%;
    }
}
