:root {
    --backgroundColorOrange: orange;
    --backgroundColorGray: gray;
}  


body {
    margin: 0;
}


header {
    background-color: var(--backgroundColorOrange);
    display: flex;
    justify-content: space-between;
}


footer {
    background-color: var(--backgroundColorOrange);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    background-color: green;
    color: white;
    width: 100%;
    height: 32px;
}


.imgHeader{
    margin: 16px;
    height: 32px;
    width: auto;
}


.maelHeader {
    position: relative; /* ermöglicht Logo relativ zum Div zu positionieren */
    width: 100%;
    height: 150px;
    margin-bottom: 0px; /* versuch Logo sichtbar zu machen*/
}


.mainImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.logoDiv {
    position: absolute; /* sorgt für Positionierung übder img */
    top: 70%; 
    left: 50%;
    transform: translate(-50%, 8%); 
}


.logoMain {
    width: 200px;
    height: auto;
    filter: invert(1); /* weiss wird zu schwarz */
}


.footMenu {
    background-color: lightgray;
    color: black;
    font-size: 16px;
    height: 32px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: lightgray;
    border-radius: 8px;
    margin: 0 4px 8px 4px;
}


.mealDiv {
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    margin: 0 4px 8px 4px;
}


.mealNameDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:  16px;
}


.maelWrapper {
    display: flex;
}


.maelsGalerySec {
    width: calc(100% - 300px);
}


.chartWrapper {
    width: 300px;
    flex-grow: 1;
    padding: 16px;
}


.chart {
    width: 100%;
    position: relative;
    position: sticky;
    top: 0;
}


.chartHeader {
    text-align: center;
}


.chartBtn {
    height: 16px;
    width: 16px;

}


.mealInChart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.subtotal {
    display: flex;
    justify-content: space-between;
}


.deliverycosts {
    display: flex;
    justify-content: space-between;
}


.total {
    display: flex;
    justify-content: space-between;
}


.chartOrderBtn {
    width: 300px;
    height: 50px;
    background-color: green;
    border-style: solid;
    border-color: grey;
    border-radius: 8px;
    border-width: 2px;
    font-size: 16px;
    font-weight: 700;
}


.separator {
    background-color: var(--backgroundColorGray);
    width: auto;
    height: 4px;
    margin-bottom: 8px;
}


.orderMessageDiv {
    background-color: red;
    text-align: center;
    margin: 8px;
    padding: 8px;
}